// variables
$color-background: white;
$color-button-blue: #5368df;
$color-button-white: #f7f7f7;
$color-hover: #fa5757;
$color-footer-backgroung: #252646;
$color-text: #9194a1;
$color-black: black;
$padding-default: 2rem;
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-24: 2.4rem;
$font-size-42: 4.2rem;

// css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-margin-top: 0;
  scroll-padding-top: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}
.container {
  margin: 0 auto;
  position: relative;
  max-width: 90rem;
  padding: 0 $padding-default;
  display: grid;
  row-gap: 8rem;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

// start of header
.header {
  margin: 2rem 0 0;
  padding: 0 2rem;
  display: flex;

  justify-content: space-between;
  grid-column: 1/-1;
  @media (max-width: 600px) {
    font-size: 1.4rem;
    padding: 0;
    // gap: 2rem;
  }

  &__logo__content {
    display: flex;
    gap: 1rem;
    align-items: center;
    @media (max-width: 600px) {
      gap: 0.3rem;
    }

    & .header__title {
      font-size: $font-size-16;
      font-weight: 500;
      @media (max-width: 600px) {
        font-size: 1.4rem;
      }
    }
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  & .navigation__list {
    display: flex;
    gap: 2rem;
    @media (max-width: 600px) {
      gap: 1rem;
    }

    font-size: $font-size-16;
  }
  .navigation__link {
    transition: 0.3;
    &:hover {
      transition: 0.3;
      cursor: pointer;
      color: $color-hover;
    }
  }
}
.logo {
  width: 4rem;
  height: 4rem;
}

// end of header

// general sections rules
.section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    row-gap: $padding-default;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    flex: 1;
  }
  &__img {
    max-width: 100%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  &__paragraph {
    font-size: $font-size-14;
    color: $color-text;
    line-height: 1.6;
  }
  &__content .h2-heading {
    font-size: $font-size-24;
    font-weight: bold;
  }
}
.first {
  @media (max-width: 600px) {
    .section__img {
      order: -1;
      max-width: 100%;
      overflow: hidden;
    }
  }
}

.button {
  font-size: $font-size-12;
  margin: 2rem 0 0;
  padding: 1.2rem 2.4rem;
  border-radius: 0.4rem;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  align-self: stretch;
  background-color: $color-button-blue;
  color: $color-button-white;
  @media (max-width: 600px) {
    &:not(.card__button) {
      flex: 1;
    }
  }
}
.h1-heading {
  font-size: $font-size-42;
  font-weight: bold;
}
.buttons {
  display: flex;
  gap: 2rem;
  cursor: pointer;

  .edge {
    background-color: $color-button-white;
    color: black;
  }
}
.section__one__column {
  grid-column: 1 /-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .section__paragraph {
    max-width: 50rem;
    text-align: center;
    line-height: 1.2;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-top: 4rem;
    width: 100%;
    @media (max-width: 600px) {
      flex-wrap: wrap;
      gap: 2rem;
      flex: 1;
    }

    .card {
      box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      gap: 1rem;
      padding: 4rem 2rem 2rem;
      width: 25rem;
      height: 26rem;
      @media (max-width: 600px) {
        width: 100%;
      }
      .card__img {
        width: 6rem;
        height: 6rem;
      }
      .card__label {
        font-size: $font-size-18;
      }
      .card__button {
        margin-top: auto;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -2.8rem;
          left: -2rem;
          right: -2rem;
          background: url("../images/bg-dots.svg") repeat-x;
          background-size: contain;
          height: 0.3rem;
        }
      }
    }
  }
}
.faq {
  margin-top: 3.5rem;
  max-width: 50rem;
  .faq__row {
    position: relative;

    padding: 2rem 0;
    border-top: 0.1rem solid gray;
    &:last-of-type {
      border-bottom: 0.1rem solid gray;
    }

    .faq__input {
      display: none;
      &:checked ~ .faq__arrow {
        transform: rotate(180deg);
      }
      &:checked ~ .faq__answer {
        opacity: 1;
        max-height: 50rem;
        padding-top: 2rem;
      }
    }
    .faq__question {
      display: block;
      font-size: $font-size-18;
      font-weight: 600;
      cursor: pointer;
    }
    .faq__arrow {
      position: absolute;
      right: 0;
      top: 2.6rem;
      width: 1.2rem;
      max-width: 100%;
      transition: 0.3s ease-in-out;
    }
    .faq__answer {
      font-size: $font-size-14;
      font-weight: 400;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      max-height: 0.1rem;
      overflow: hidden;
    }
  }
}

.footer {
  grid-column: 1/-1;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem 0;
  font-size: 1.4rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: $color-footer-backgroung;
    z-index: -1;
    @media (max-width: 800px) {
      left: -2rem;
      right: -2rem;
    }
  }

  &__left {
    display: flex;
    gap: 2rem;
    margin-right: auto;
    @media (max-width: 600px) {
      margin-right: 0;
    }
    .logoContent {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
